.tabs {
    @include grid (3, 2rem);
    button {
        background-color:  $blanco;
        font-size: 1.4rem;
        padding: 1rem;
        font-weight: $bold;
        text-align: center;
        text-transform: uppercase;
        border: none;
        &.actual {
            background-color: $azul;
            color: $blanco;
        }
        &:hover {
        cursor: pointer;
    }

    }
}